body {
    display:flex;
    /*align-items:center;*/
    height: 100vh;
   /* justify-content:center;*/
    flex-direction:column;
    font-family: 'papyrus';
    
}

.webpage-elements {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width: 100%;
    margin: 10px;
}

.top-text{
    display:block;
}
.title h1{
    font-size: 60px;
    text-align:center;
}
.title {
    font:bold;
}

.game-window{
    position:relative;
    border: 2px solid black;
    border-radius: 16px;
    /*makes so our game elements are right next to each other in the row instead of on top of each other*/
    display:flex;
    align-items:flex-end;
    justify-content: center;
    padding: 20px;
    width: 90%;
    margin: 10px;
    height:350px;
    background: url("https://static.vecteezy.com/system/resources/thumbnails/001/337/959/small/fenced-in-backyard-background-free-vector.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    opacity: 0.97;
}
.stats {
    position:absolute;
    top: 20px;
    left: 50px;
    font-size: 32px;
    background-color: rgba(255,255,255,0.5);
    padding: 10px;
    border-radius: 16px;
}



/* --- image characteristics ---*/

.compost {
    width: 100px;
    height: 100px;
    margin: 0px 10px;
    z-index: 1;
    cursor: pointer;
}
.bunny img{
    width: 210px;
    height: 280px;
}

.grass-clippings img {
    width: 150px;
}

.rotten-food img {
    width: 140px;
    filter:brightness(70%);
}

.banana-peel img {
    filter:brightness(150%);
}

.trashcan:hover {
    content: url("https://media.discordapp.net/attachments/812752321867153409/1169735326739202108/trashcan_opened_2_1.png?ex=65567bea&is=654406ea&hm=94f934914e099182429fb77ac9820d33e418c5aab604fe1fab0fb6a8531f6af1");
    position:absolute;
    top: 34%;
    left: 16%;
    z-index: 2;
}

/*positioning for the image divs relative to the game window*/
.bunny {
    position:relative;
    top: 0%;
    left: 26%;
    z-index:-1;
}

.trashcan {
    width: 150px;
    height: 250px;
    position:absolute;
    top: 20%;
    left: 15%;
    z-index: 2;
}
.apple-core {
    position:absolute;
    top: 70%;
    left: 80%;
    z-index:1;
}
.banana-peel {
    position:absolute;
    top: 70%;
    left: 29%;
    z-index:1;
}

.grass-clippings {
    position:absolute;
    top: 64%;
    left: 39%;
}
.rotten-food {
    position:absolute;
    top: 70%;
    left: 56%;
}

.game-buttons{
    display:inline-block;
}

.compost-info {
    text-align: left;
    margin: 30px;
    font-size: 20px;
}

#compost-title, #how-to-compost {
    text-align: center;
    font: bold;
}

/* ------ Button formatting ------ */
#button1, #button2, #button3, #button4, #classic, #extreme, #start-btn {
    background-color:#003594;
    color:whitesmoke;
    font-size: 24px;
    padding: 15px 50px;
    border-radius: 8px;
    text-align:center;
    display:inline-block;
    margin: 20px 10px;
    text-decoration:none;
}
#button2 {
    background-color: red;
}

#button4 {
    background-color:darkgreen;
}

#button1:hover, #button2:hover, #button3:hover {
    background-color: green;
}

#text {
    margin: 20px;
    padding: 0px;
    font-size: 32px;
}
